In [3]:
import numpy as np

In [ ]:
import pandas as pd

file_path = "diabetic_data.csv"
df = pd.read_csv(file_path)

df_info = df.info()
df_preview = df.head(10)

df_preview

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [ ]:
import random
import gymnasium as gym
from gymnasium import spaces

In [2]:
file_path = "diabetic_data.csv"
df = pd.read_csv(file_path)

In [ ]:
filtered_df = df[df['insulin'] != 'No']

In [ ]:

glucose_map = {
    'None': np.nan,
    'Norm': 100,
    '>200': 250,
    '>300': 350
}
filtered_df['glucose_level'] = filtered_df['max_glu_serum'].map(glucose_map)

C:\Users\asus\AppData\Local\Temp\ipykernel_17280\3025949296.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['glucose_level'] = filtered_df['max_glu_serum'].map(glucose_map)

In [ ]:
insulin_map = {
    'Down': 0,
    'Steady': 1,
    'Up': 2
}
filtered_df['insulin_action'] = filtered_df['insulin'].map(insulin_map)


filtered_df['reward'] = filtered_df['readmitted'].apply(
    lambda x: -1 if x in ['<30', '>30'] else 1
)

C:\Users\asus\AppData\Local\Temp\ipykernel_17280\3362474351.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['insulin_action'] = filtered_df['insulin'].map(insulin_map)
C:\Users\asus\AppData\Local\Temp\ipykernel_17280\3362474351.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['reward'] = filtered_df['readmitted'].apply(

In [ ]:
rl_data = filtered_df[['glucose_level', 'insulin_action', 'reward']].dropna()

In [7]:
rl_data

        glucose_level  insulin_action  reward
142             100.0               1      -1
170             100.0               2      -1
253             100.0               2       1
290             100.0               1       1
300             250.0               1      -1
...               ...             ...     ...
100284          100.0               1      -1
100911          250.0               1      -1
101070          350.0               1       1
101088          350.0               1       1
101413          250.0               1       1

[2793 rows x 3 columns]

In [ ]:

class RealPatientDosageEnv(gym.Env):
    def __init__(self, data: pd.DataFrame):
        super(RealPatientDosageEnv, self).__init__()
        self.data = data.reset_index(drop=True)
        self.n = len(data)
        self.current_idx = 0
        self.observation_space = spaces.Box(low=0.0, high=1.0, shape=(1,), dtype=np.float32)
        self.action_space = spaces.Discrete(3)

    def reset(self):
        self.current_idx = random.randint(0, self.n - 2)
        glucose = self.data.loc[self.current_idx, 'glucose_level']
        self.state = np.array([glucose / 400], dtype=np.float32)
        return self.state

    def step(self, action):
        true_action = self.data.loc[self.current_idx, 'insulin_action']
        reward = self.data.loc[self.current_idx, 'reward']
        if action != true_action:
            reward -= 0.1

        self.current_idx += 1
        done = self.current_idx >= self.n

        if not done:
            glucose = self.data.loc[self.current_idx, 'glucose_level']
            self.state = np.array([glucose / 400], dtype=np.float32)
        else:
            self.state = np.zeros((1,), dtype=np.float32)

        return self.state, reward, done, {}

In [ ]:
class QLearningAgent:
    def __init__(self, state_bins=10, n_actions=3, alpha=0.1, gamma=0.9, epsilon=0.1):
        self.state_bins = state_bins
        self.n_actions = n_actions
        self.alpha = alpha
        self.gamma = gamma
        self.epsilon = epsilon
        self.q_table = np.zeros((self.state_bins, self.n_actions))

    def discretize_state(self, state):
        return int(np.clip(state[0] * self.state_bins, 0, self.state_bins - 1))

    def select_action(self, state):
        s = self.discretize_state(state)
        if random.random() < self.epsilon:
            return random.randint(0, self.n_actions - 1)
        return np.argmax(self.q_table[s])

    def update(self, state, action, reward, next_state):
        s = self.discretize_state(state)
        s_next = self.discretize_state(next_state)
        best_next = np.max(self.q_table[s_next])
        td_target = reward + self.gamma * best_next
        td_error = td_target - self.q_table[s, action]
        self.q_table[s, action] += self.alpha * td_error

In [ ]:
def train_q_agent(env, agent, episodes=5000):
    for ep in range(episodes):
        state = env.reset()
        done = False
        while not done:
            action = agent.select_action(state)
            next_state, reward, done, _ = env.step(action)
            agent.update(state, action, reward, next_state)
            state = next_state
    return agent.q_table

env = RealPatientDosageEnv(rl_data)
agent = QLearningAgent(state_bins=20)
q_table = train_q_agent(env, agent, episodes=5000)

In [ ]:

q_table_df = pd.DataFrame(q_table, columns=['Action: Decrease', 'Action: Steady', 'Action: Increase'])
q_table_df.index.name = 'Glucose Bin (Discretized)'

In [16]:
q_table_df

                           Action: Decrease  Action: Steady  Action: Increase
Glucose Bin (Discretized)
0                                  0.000000        0.000000          0.000000
1                                  0.000000        0.000000          0.000000
2                                  0.000000        0.000000          0.000000
3                                  0.000000        0.000000          0.000000
4                                  0.000000        0.000000          0.000000
5                                  0.205712        0.226730          0.148302
6                                  0.000000        0.000000          0.000000
7                                  0.000000        0.000000          0.000000
8                                  0.000000        0.000000          0.000000
9                                  0.000000        0.000000          0.000000
10                                 0.000000        0.000000          0.000000
11                                 0.000000        0.000000          0.000000
12                                 0.093463       -0.019698          0.253301
13                                 0.000000        0.000000          0.000000
14                                 0.000000        0.000000          0.000000
15                                 0.000000        0.000000          0.000000
16                                 0.000000        0.000000          0.000000
17                                -0.301531       -0.167676          0.063904
18                                 0.000000        0.000000          0.000000
19                                 0.000000        0.000000          0.000000